/* styles go here */
.text-form {
  margin-bottom: 10px;
}

.text-form-surname {
  margin-bottom: 10px;
}

.color-form {
  margin-bottom: 10px;
}

.date-form {
  margin-bottom: 10px;
}

.range-form {
  margin-bottom: 10px;
}

.time-form {
  margin-bottom: 10px;
}

.radio-form {
  margin-bottom: 10px;
}

.textarea-form {
  margin-bottom: 10px;
}

.select-form {
  margin-bottom: 10px;
}

.field {
  margin-bottom: 20px;
}

label {
  display: block;
}
